.container {
  padding: 20px;
  font-family: auto;
}

.heading {
  margin-bottom: 20px;
  text-align: center;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.left-align {
  text-align: left;
  background-color: rgb(27, 89, 61);
  color: white;
}

.pagination-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 6px 12px;
  font-size: 14px;
  background-color: rgb(27, 89, 61);
  color: white;
  border-radius: 5px;
}

.currentPage {
  font-weight: bold;
}
