*{
  font-family: auto;
}

h2 {
  text-align: center;
}

button{
  background-color: rgb(24,89,61);
  color: white;
  font-size: medium;
  border-radius: 5px;
}

.buttonlog{
  margin-top: 20px;
  text-align: center;
}